.background    { background: linear-gradient(red,orange, yellow);;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: black; }
.wall          { background: white;   }
.floater       { background: green;  }

.game {
  position: relative;
}
